<td class="booking" onclick='$(this).dialog()'>
  <div style="display:none;">
    <div id="dialog" title="Edit Booking">
      <%= form_for booking do |f| %>
        <%= f.label :reference_number %>
        <%= f.text_field :reference_number %>
      <% end %>
    </div>
  </div>
</td>

