
<% if @companies.nil? or @companies.empty? %>
  <p><em>No transport companies have been defined yet.</em></p>
<% else %>
  <table>
    <thead>
      <th>Company Name</th>
    </thead>
    <% @companies.each do |company| %>
      <tr>
        <td>
          <% if company.name.empty? %>
            <%= link_to '(blank)', edit_company_path(company) %>
          <% else %>
            <%= link_to company.name, edit_company_path(company) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <br />
<% end %>

<%= link_to 'Create New Company', new_company_path %> | <%= link_to 'Back to Admin', admin_path %>
