<table id='indextable'>
  <thead>
    <th>Company Name</th>
    <th>Haulier Code</th>
  </thead>

  <% @companies.each do |company| %>
    <tr>
      <td><%= link_to company.name, edit_company_path(company) %></td>
      <td><%= company.tms %></td>
    </tr>
  <% end %>
</table>
