/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .

*/
.classname {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D5E3EE), color-stop(1, #D5E3EE) );
	background:-moz-linear-gradient( center top, #D5E3EE 5%, #D5E3EE 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E3EE', endColorstr='#D5E3EE');
	background-color:#D5E3EE;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #D5E3EE;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:10px;
	font-weight:normal;
	padding:0px 6px;
	text-decoration:none;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D5E3EE), color-stop(1, #D5E3EE) );
	background:-moz-linear-gradient( center top, #D5E3EE 5%, #D5E3EE 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='##D5E3EE', endColorstr='##D5E3EE');
	background-color:#D5E3EE;
}.classname:active {
	position:relative;
	top:1px;
}

input[type="submit"].classname{
	padding: 3px 6px; 
	color: #666;
}