// Place all the styles related to the slot_times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td{background:#EEE;padding:4px;cursor:pointer;}
td:hover{background:#777;color:#FFF;}
.hour{width:60px;}
.mini{width:20px;}
#modal{border:1px solid #AAA;background:#FFF;display:none;padding:10px;width:200px;top:100px;left:100px;position:absolute;}